<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<head>
<style>
	#userId{
		width: 422px;
	}
	.idCheck {
		margin: 0;
		padding: 0;
		width: 60px;
		height: 52px;
	}
</style>
<script>
	$(function() {
		$("#pw").on("keyup", checkPW);
		$("#pw2").on("keyup", checkPW);

	});

	function checkPW() {
		var pw1 = $("#pw").val();
		var pw2 = $("#pw2").val();
		console.log(pw1);
		console.log(pw2);

		if (pw1 == pw2) {
			
			if(pw1.length==0 || pw1=='') {
            	$("#btn").css('background-color','#f0f0f0')
       	 	} else { 
			 	$("#btn").css('background-color', '#9acd32')
        	}			
			} else {
				$("#btn").css('background-color', '#ff6347')
			}
	}

	function idCheck() {
//		var id = $('#userId').val(); //id값이 "Uid"인 입력란의 값을 저장
		$.ajax({
			url : '/idCheck', //Controller에서 인식할 주소
			type : 'post', //POST 방식으로 전달
			data : { "userId" : $("#userId").val() }, //
			success : function(data) {
				if(data ==1){
					console.log("중복!")
				}else if(data ==0){
					$("#idCheck").attr("value", "Y")
				}
					console.log("사용가능!!");
			}
		})
	}
</script>

<style>
body {
	text-align: center;
}

.join_section {
	padding: 145px 0px 200px;
}

.join {
	margin-bottom: 20px;
}

button {
	width: 486px;
	height: 52px;
	margin-top: 20px;
}

input {
	width: 486px;
	height: 52px;
	padding-left: 20px;
}
</style>
<title>회원가입 페이지</title>
<meta charset="utf-8" />
</head>
<body>
	<div class="join_section">
		<div class="panel-body">

			<h2 class="join">회원가입</h2>
			<form method="post" action="joinProc">
				<p>
					<label for="userId"></label>
					<input type="text" id="userId" name="userId" placeholder="아이디" required oninput="checkId()">
					<button id="idCheck" type="button" class="idCheck" onclick="idCheck();" value="N">중복확인</button>
				</p>

				<p>
					<label for="name"></label> <input type="text" id="name" name="name"
						placeholder="이름" />
				</p>

				<p>
					<label for="pw"></label> <input type="password" id="pw" name="pw"
						placeholder="비밀번호" />
				</p>

				<p>
					<label for="pw2"></label> <input type="password" id="pw2"
						name="pw2" placeholder="비밀번호 확인" />
				</p>

				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<button id="btn" type="submit" class="btn">가입</button>
			</form>

		</div>
	</div>
	<!-- join_section -->
</body>
</html>