<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/login.css}" />

<head>
<style>
#email {
	width: 422px;
}

/* 아이디 중복체크 */
.idCheck {
	padding: 0;
	width: 60px;
}

body {
	margin: 0 auto;
}

.join_section {
	width: 490px;
	margin: 0 auto;
	padding: 90px 0px 50px;
}

.join {
	text-align: center;
	margin-bottom: 20px;
}

.join_btn {
	margin: 0 0 0 4px;
}

button {
	width: 486px;
	height: 52px;
}

input {
	width: 486px;
	height: 52px;
	margin-bottom: 20px;
	padding-left: 20px;
}
</style>

<script>
$(function() {
	$("#btn").click(final_Check);
});

/* 아이디 중복확인 */
function idCheckFunc() {
	var id = $("#email").val();
	if (id.length == 0 || id == '') {
		alert("이메일을 입력하세요");
		return;
	} 
	//ajax csrf//		
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	$.ajax({
		url : '/auth/idCheck', //Controller에서 인식할 주소
		type : 'post', //POST 방식으로 전달
		data : {
			"userId" : id
		},

		//ajax csrf//
		beforeSend : function(xhr) { /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			xhr.setRequestHeader(header, token);
		},

		success : function(data) {
			if (data == 1) {
				alert("이미 사용중인 아이디 입니다.")
				$("#idCheckBtn").attr("value", "N")
				console.log("N")

			} else if (data == 0) {
				$("#idCheckBtn").attr("value", "Y");
				alert("사용 가능한 아이디 입니다.");
				console.log("Y")
			}

		}
	})
}

function final_Check() {
	var id = $("#email").val();
	var idCheck = $("#idCheckBtn").val();

	/* 아이디 유효성검사 */
	if (id.length == 0 || id == '') {
		alert("이메일을 입력하세요")

	} else if (idCheck == "N") {
		alert("이메일을 확인해주세요.")

	} else {
		$("form").submit();
	}

}
</script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="join_section">
		<div class=pannel-body>
			<h2 class="join">EMAIL을 입력해주세요!</h2>
			<form method="post" action="/kakao/getEmail">
				<input type="text" id="email" class="id_input" name="email" placeholder="이메일">
				<button id="idCheckBtn" type="button" class="idCheck btn-outline-cococo" onclick="idCheckFunc();" value="N">중복확인</button>

				<input type="hidden" name="name" th:value="${kakaoUser.name}"/>
				<input type="hidden" name="img" th:value="${kakaoUser.img}"/>
				<input type="hidden" name="id" th:value="${kakaoUser.id}"/>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button id="btn" type="submit" class="join_btn btn-cococo" value="N">가입</button>
			</form>
		</div>
	</div>
</body>
</html>