<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>관리자 페이지입니다.</h1>
<table>
		<tr>
			<td>순서</td>
			<td>이름</td>
			<td>이메일</td>
			<td>가입일자</td>
			<td>권한</td>
			<td></td>
		</tr>
		
		<tr th:each="user, rowStatus:${userList}">
			<td th:text="${rowStatus.count}">순서</td>
			<td th:text="${user.name}">이름</td>
			<td th:text="${user.userId}">이메일</td>
			<td th:text="${user.regDate}">가입일자</td>
			<td>권한</td>
			<td>
				<button>
					<img src="delete.png" alt="delete">
				</button>
			</td>
		</tr>
	</table>
</body>
</html>