<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
	
</script>

<style>
.sideMenu, .side, .content{
	float: left;
	height: 100%;
}

.side{
	width: 80px;
}

.sideMenu{
	width: 300px;
}

.sideMenu a {
	color: black;
	font-size: 20px;
}

.sideMenu a:hover {
	color: black;
	text-decoration: none;
	font-size: 23px;
}

.contentBody {
	padding-top: 30px;
	
}

.content{
	background-color: #eee;
}

.myMenu{
	bottom: 20%;
    position: absolute;
}

.teamList a img, .myMenu a img, .sideMenu div img {
	margin: 10px;
}
</style>
<!-- 하위 HTML에서 CSS 재정의할 예정 -->
<th:block layout:fragment="style"></th:block>
</head>

<body>

<!-- fragment 삽입하기 -->
<!-- <header th:replace="~{/fragments/header :: header}"></header> -->
<header>
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
</header>

<div class="container-fluid contentBody">
	<div class="side">
		<div class="teamList">
			<a th:href="@{/main/}+${tu.teamUserId.team.teamId}" th:each="tu:${teamList}">
				<img th:if="${tu.teamUserId.team.teamImg!=null}" th:src="@{/images/}+${tu.teamUserId.team.teamImg}" 
					data-toggle="tooltip" data-placement="right" th:title="${tu.teamUserId.team.teamName}" width="50px" class="img-rounded">
				<img th:if="${tu.teamUserId.team.teamImg==null}" th:src="@{/images/teamImg.png}" alt="null"
					data-toggle="tooltip" data-placement="right" th:title="${tu.teamUserId.team.teamName}" width="50px" class="img-rounded">
			</a>
		</div>
		<div class="myMenu">
			<a href="/main/teamList">
				<img th:src="@{/images/home.svg}" alt="home" width="50px">
			</a>
		</div>
	</div>
		
	<div class="sideMenu">
		<h4>팀원</h4>
		<div th:each="tu:${userList}">
			<img th:if="${tu.teamUserId.user.image == null}" th:src="@{/images/defaultImg.png}" width="40px" class="img-circle">
			<img th:if="${tu.teamUserId.user.image != null}" th:src="@{/images/}+${tu.teamUserId.user.image}" width="40px" class="img-circle">
			[[${tu.teamUserId.user.name}]] ([[${tu.teamUserId.user.userId}]])</div>
	</div>
		
	<!-- 하위 HTML에서 content 재정의할 예정 -->
	<div layout:fragment="content"></div>
</div>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>

<!-- 하위 HTML에서 javascript 재정의할 예정   th:block 은 없어지는 태그이다 -->
<th:block layout:fragment="script">

</th:block>
</body>
</html>