<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/main/layoutTeamList.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.box, .addTeam {
	position: relative;
	float: left;
	width: 250px;
	height: 320px;
	text-align: center;
	padding: 30px 20px;
	margin: 20px;
	background-color: #eee;
	border-radius: 1em;
	cursor: pointer;
}

.box:hover, .addTeam:hover {
	background-color: rgba(255, 127, 39, 0.2);
	border: none;
}

.info {
	white-space: pre-wrap;
}

.name {
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}

.addTeam {
	font-size: 35px;
	background-color: white;
	border: 2px solid #FF7F27;
	border-radius: 0.5em;
	padding: 130px 10px;
}

.box img{
	width: 150px;
	height: 150px;
}
.box .delBtn {
	position: absolute;
	top: 85%;
	left: 85%;
	width: 30px;
	height: 30px;
}

/* #myModal, #myModal2 {
	position: absolute;
	top: 30%;
	left: 20%;
	right: 20%;
} */
</style>
</head>
<body>
<div layout:fragment="content">
	<h1>프로젝트 리스트</h1>
	<button data-toggle="modal" data-target="#myModal2" class="btn btn-primary">초대코드</button>
	<p>[[${session.user}]]</p>
	<p th:each="team:${teamList}" th:text="${team}"></p>
	
	<div class="content" th:each="team:${teamList}">
		<div class="box" th:team-data="${team.teamUserId.team.teamId}">
			<img th:src="@{/images/deleteImg.svg}" class="delBtn" th:data2="${team.teamUserId.team.teamId}">
			<img th:if="${team.teamUserId.team.teamImg!=null}" th:src="@{/uploads/}+${team.teamUserId.team.teamImg}" th:alt="${team.teamUserId.team.teamImg}">
			<img th:if="${team.teamUserId.team.teamImg==null}" th:src="@{/images/teamImg.png}" alt="null">
			<p class="name">[[${team.teamUserId.team.teamName}]]</p>
			<p>[[${#dates.format(team.teamUserId.team.createDate,'yyyy-MM-dd')}]]</p>
			<p class="info">[[${team.teamUserId.team.teamInfo}]]</p>	
		</div>
	</div>
	<div class="addTeam" data-toggle="modal" data-target="#myModal">+</div>
	
	<!-- 워크스페이스 등록 모달 -->
    <div id="myModal" class="modal fade" role="dialog">
		<div class="model_dialog">
	        <!-- Modal content -->
	        <div class="modal-content">
	        	<div class="modal-header">
	           		<h4 class="modal-title">NEW WORKSPACE</h4>
	       		</div>
	       		
	        	<div class="modal-body">
	        		<form id="addTeamForm" method="post" enctype="multipart/form-data">
						<div>
							<label>WORKSPACE IMG</label> 
							<input type="file" name="teamPhoto" class="form-control custom-file-input">
				         	<label class="custom-file-label">CHOOSE FILE</label>
						</div>
						
			        	<label>WORKSPACE NAME</label>
			        	<input type="text" name="teamName" class="form-control">
			        	
			         	<label>WORKSPACE INFO</label>
			         	<textarea class="form-control" name="teamInfo" rows="2"></textarea>
		        	</form>
		        </div>
			
				<div class="modal-footer">
			    	<button id = "addTeamBtn" class="btn btn-primary">워크스페이스 만들기</button>
			    	<button type="button" class="btn btn-primary" data-dismiss="modal" >취소</button>
	        	</div>
	        </div>
    	</div>
    </div> <!-- Modal --> 
    
	<!-- 초대코드 입력 모달 -->
    <div id="myModal2" class="modal fade" role="dialog">
		<div class="model_dialog">
	        <!-- Modal content -->
	        <div class="modal-content">
	        	<div class="modal-body">
					<label>초대코드 입력</label> 
					<input type="text" id="code" class="form-control">
		        </div>
				<div class="modal-footer">
			    	<button id = "enterBtn" class="btn btn-primary">워크스페이스 입장</button>
			    	<button type="button" class="btn btn-primary" data-dismiss="modal" >취소</button>
	        	</div>
	        </div>
    	</div>
    </div> <!-- Modal --> 
    
</div>

<th:block layout:fragment="script">
	<script>
		$(".box").click(function() {
			var teamId = $(".box").attr("team-data");
			alert(teamId);
			//location.href="/main/"+teamId;
		});
		
		$("#enterBtn").click(function() {
			var code = $("#code").val();
			
			$.ajax({
				type:"post",
				url:"/main/findTeam/[[${session.user.userId}]]/"+code,
				success: function(resData) {
					if(resData != 0) {
						location.href = "/main/"+resData;
						return;
					}
					alert("초대코드를 확인해주세요!");
				}
			});
		});
		
		$(".delBtn").click(function(e) {
			e.stopPropagation();
			var teamId = $(".delBtn").attr("data2");
			if(confirm(teamId + " 해당 워크스페이스를 삭제하시겠습니까?")) {
				$.ajax({
					type:"post",
					url:"/main/deleteTeam/[[${session.user.userId}]]/"+teamId,
					success: function() {
						location.reload();
					}
				});
			}
		});
		
		$("#addTeamBtn").click(function() {
			var addForm = $("#addTeamForm");
			//console.log(addForm[0]);
			addForm.attr("action","/main/addTeam/[[${session.user.userId}]]");
			addForm.submit();
		});
		
		$(".custom-file-input").on("change",function() {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
</th:block>
</body>
</html>