<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout1.html}">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/css/ja0/teamMaincss.css}" />

<title>CoCoCo | [[${team.teamName}]]</title>
<style>

</style>

<script type="text/javascript">
	$(function() {
		$(".statusBtn").click(myStatus);
		$("#statusUpdate").click(updateStatus);
		$(".copyBtn").click(copyCode);
	})
	
	function myStatus() {
		var status = "[[${session.user.status}]]";
		
		if(status != "") {
			$("select[name='status']").val(status);
		}
	}
	
	function updateStatus() {
		var status = $("select[name='status']").val();
	
		location.href="/CoCoCo/updateStatus/t/" + status;
	}
	
	function copyCode() {
		var copyText = "[[${team.inviteCode}]]";
		const t = document.createElement("textarea");
		
		document.body.appendChild(t);
		t.value = copyText;
		t.select();
		document.execCommand('copy');
		document.body.removeChild(t);
		
		alert("초대코드가 복사되었습니다.");
	}
</script>
</head>

<body>

<div layout:fragment="my_menu">
	<div class="my_menu">
		<div id="myProfile">
			<img th:src="${session.user.image}?:@{/images/userImg.svg}" class="rounded-circle">
			<img class="admin" th:if="${session.teamUser.userRole == 'ADMIN'}" th:src="@{/images/crown.svg}">
					
			<div id="myInfo">
				<div id="myName">[[${session.user.name}]]
					<button th:text="${session.user.status}?:상태설정" class="btn btn-light btn-sm statusBtn" data-toggle="modal" data-target="#myModal"></button>
				</div>
				[[${session.user.company}]]
			</div>
		</div>
		
				
		<h4 id="listTitle">팀원</h4>
		<div id="proList">
			<div class="userProfile" th:each="tu:${userList}" th:if="${tu.teamUserId.user.userId != session.user.userId}">
				<img th:src="${tu.teamUserId.user.image}?:@{/images/userImg.svg}" class="rounded-circle img">
				
				<img class="admin" th:if="${tu.userRole == 'ADMIN'}" th:src="@{/images/crown.svg}">
				<p class="status" th:classappend="${tu.teamUserId.user.status == '출근'}?green:red">●</p>
				
				[[${tu.teamUserId.user.name}]]
						
				<div id="userInfo">
					<img th:src="${tu.teamUserId.user.image}?:@{/images/userImg.svg}"class="rounded-circle img">
					<img class="admin" th:if="${tu.userRole == 'ADMIN'}" th:src="@{/images/crown.svg}">
							
					<div id="uInfo">
						<p id="userName">[[${tu.teamUserId.user.name}]] ( [[${tu.teamUserId.user.company}]] )<p>
						<p>[[${tu.teamUserId.user.status}]]</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 상태변경 모달 -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
	    <!-- Modal content -->
	        <div class="modal-content">
	        	<div class="modal-header">
					<label class="modal-title">상태변경</label>
				</div>
				
	        	<div class="modal-body">
					<select class="form-control" name="status">
						<option>출근</option>
						<option>회의</option>
						<option>자리비움</option>
						<option>외근</option>
						<option>퇴근</option>
						<option>휴가</option>
					</select>
		        </div>
		        
				<div class="modal-footer">
			    	<button id = "statusUpdate" class="btn btn-cococo">수정</button>
			    	<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
	        	</div>
	        </div>
	   	</div>
	</div> <!-- Modal --> 

</div>
			
<div layout:fragment="inner_content">
	<div class="inner_content">
		<div id="info">
			<button class="btn btn-cococo copyBtn">초대코드</button>
			
			<div id="box">
				<img th:src="${team.teamImg}?:@{/images/teamImg.png}" th:alt="${team.teamImg}" class="rounded">
				<div id="ttt">
					<div id="name">[[${team.teamName}]]</div>
					<div id="tInfo">[[${team.teamInfo}]]</div>
				</div>
			</div>
		</div>
			
		<div id="main1">
			공지
		</div>
		
		<div id="main2">
			진행사항
		</div>
		
		<div id="main3">
			오늘의 업무
		</div>
	</div>	
</div>
</body>
</html>