<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout1.html}">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" th:href="@{/css/ja0/teamMaincss.css}" />

<title>CoCoCo | [[${team.teamName}]]</title>
<style>

</style>

<script type="text/javascript">
	$(function() {
		var msg = "[[${msg}]]";
		if(msg!="") {
			alert(msg);
		}
		
		$(".showForm").click(setModalVal);
		$("#myProfileUpdate").click(myProfileUpdate);
		$("#userDelete").click(userDelete);
		$("#delImg").click(delMyImg);
		$("#addImgBtn").click(addImg);
		$("#img").change(makeView);
		$(".statusBtn").click(myStatus);
		$("#statusUpdate").click(updateStatus);
		$(".copyBtn").click(copyCode);
		
		$("#main1").load("/main/notice");
		$("#main2").load("/main/summary");
		$("#main3").load("/work/worklist");
	})
	
	function setModalVal() {
		var name = "[[${session.user.name}]]";
		var userId = "[[${session.user.userId}]]";
		var company = "[[${session.user.company}]]";
		var fileName = "[[${session.user.image}]]".substring(110);
		var img = $(".myProfileImg").attr("src");
		
		$("input[name='name']").val(name);
		$("input[name='userId']").val(userId);
		$("input[name='company']").val(company);
		$("#fileName").val(fileName);
		$("input[name='newPhoto']").val("");
		$(".myImg").attr("src", img);
		
		if(img != "/images/userImg.svg") {
			$("#delImg").show();
		}
	}
	
	function myProfileUpdate() {
		var name = $("input[name='name']");
		
		if(name.val() == "") {
			alert("이름은 필수입니다!");
			name.focus();
			return;
		}
		
		$("#modifyForm").submit();
	}
	
	function userDelete() {
		if(confirm("정말 탈퇴하시겠습니까?\n삭제된 정보는 복구되지않습니다.")){
			location.href="/user/delete";
		}
	}
	
	function addImg(e) {
		e.stopPropagation();
	}
	
	function delMyImg() {
		$(".myImg").attr("src", "/images/userImg.svg");
		$("#fileName").val(null);
		$("#delImg").hide();
	}
	
	function makeView(e) {
		$("#delImg").show();
		//썸네일
		var reader = new FileReader();

		reader.onload = function(e) {
			$(".myImg").attr("src", e.target.result);
		};

		reader.readAsDataURL(e.target.files[0]);
		
		//파일 이름
		var fileName = $(this).val().split("\\").pop();
		$("#fileName").val(fileName);
	}
	
	function myStatus() {
		var status = "[[${session.user.status}]]";
		
		if(status != "") {
			$("select[name='status']").val(status);
		}
	}
	
	function updateStatus() {
		var status = $("select[name='status']").val();
	
		location.href="/updateStatus/t/" + status;
	}
	
	function copyCode() {
		var copyText = "[[${team.inviteCode}]]";
		const t = document.createElement("textarea");
		
		document.body.appendChild(t);
		t.value = copyText;
		t.select();
		document.execCommand('copy');
		document.body.removeChild(t);
		
		alert("초대코드가 복사되었습니다.");
	}
</script>
</head>

<body>

<div layout:fragment="my_menu">
	<div class="my_menu">
		<div id="myProfile">
			<img th:src="${session.user.image}?:@{/images/userImg.svg}" class="rounded-circle myProImg">
			<img id="editProfile" class="rounded-circle" th:src="@{/images/editProfile.png}" data-toggle="modal" data-target="#MyPageModal">
			<img class="admin" th:if="${session.teamUser.userRole == 'ADMIN'}" th:src="@{/images/crown.svg}">
					
			<div id="myInfo">
				<div id="myName">[[${session.user.name}]]
					<button th:text="${session.user.status}?:상태설정" class="btn btn-light btn-sm statusBtn" data-toggle="modal" data-target="#statusUpdateModal"></button>
				</div>
				[[${session.user.company}]]
			</div>
		</div>
		
				
		<h5 id="listTitle">팀원 ([[${userList.size()}]])</h5>
		<div id="proList">
			<div class="userProfile" th:each="tu:${userList}" th:if="${tu.teamUserId.user.userId != session.user.userId}">
				<img th:src="${tu.teamUserId.user.image}?:@{/images/userImg.svg}" class="rounded-circle img">
				
				<img class="admin" th:if="${tu.userRole == 'ADMIN'}" th:src="@{/images/crown.svg}">
				<p class="status" th:classappend="${tu.teamUserId.user.status == '출근'}?green:red">●</p>
				
				[[${tu.teamUserId.user.name}]]
						
				<div id="userInfo">
					<img th:src="${tu.teamUserId.user.image}?:@{/images/userImg.svg}"class="rounded-circle img">
					<img class="admin" th:if="${tu.userRole == 'ADMIN'}" th:src="@{/images/crown.svg}">
							
					<div id="uInfo">
						<p id="userName">[[${tu.teamUserId.user.name}]] ( [[${tu.teamUserId.user.company}]] )<p>
						<p>[[${tu.teamUserId.user.status}]]</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- user profile 모달 -->
	<div id="MyPageModal" class="modal fade">
		<div class="modal-dialog">
	    <!-- Modal content -->
	        <div class="modal-content">
	        	<div class="modal-header">
					<h5 class="modal-title">MY PROFILE</h5>
				</div>
				
	        	<div class="modal-body">
					<img th:src="${session.user.image}?:@{/images/userImg.svg}" class="myProfileImg rounded-circle">
						
					<div id="modalMyInfo">
						<div class="form-group">
							<label>NAME</label>
							<p class="form-control" >[[${session.user.name}]]</p>
						</div>
						
						<div class="form-group">
							<label>EMAIL</label>
							<p class="form-control" >[[${session.user.userId}]]</p>
						</div>
						
						<div class="form-group">
							<label>COMPANY</label>
							<p class="form-control" >[[${session.user.company}]]</p>
						</div>
						
						<div class="form-group">
							<label>JOIN DATE</label>
							<p class="form-control" >[[${#dates.format(session.user.regDate,'yyyy-MM-dd')}]]</p>
						</div>
					</div>
		        </div>
		        
				<div class="modal-footer">
			    	<button class="btn btn-cococo showForm" data-toggle="modal" data-target="#updateMyProfileModal">수정</button>
			    	<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
	        	</div>
	        </div>
	   	</div>
	</div> <!-- Modal --> 
	
	<!-- user profile 수정 모달 -->
	<div id="updateMyProfileModal" class="modal fade">
		<div class="modal-dialog">
	    <!-- Modal content -->
	        <div class="modal-content">
	        	<div class="modal-header">
					<h5 class="modal-title">MY PROFILE</h5>
				</div>
				
	        	<div class="modal-body">
		        	<div id="modalMyImg">
						<img class="myImg rounded-circle">
						
						<label for="img">
							<img th:src="@{/images/addFile.png}" id="addImgBtn" class="rounded-circle">
						</label>
					</div>
					
					<form id="modifyForm" action="/user/modify" method="post" enctype="multipart/form-data">
						<input type="file" name="newPhoto" id="img" accept="image/*">
						
						<div class="form-group">
							<label>NAME</label>
							<input type="text" name="name" class="form-control">
						</div>
						
						<div class="form-group">
							<label>EMAIL</label>
							<input type="text" name="userId" class="form-control" readonly="readonly">
						</div>
						
						<div class="form-group">
							<label>COMPANY</label>
							<input type="text" name="company" class="form-control">
						</div>
						
						<div class="form-group">
							<label>MY IMAGE</label>
							<img id="delImg" th:src="@{/images/deleteTeamImg.svg}">
							<input type="text" name="fileName" id="fileName" class="form-control" readonly="readonly">
						</div>
						
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					</form>
		        </div>
		        
				<div class="modal-footer">
			    	<button id="myProfileUpdate" class="btn btn-cococo">수정</button>
			    	<button id="userDelete" class="btn btn-outline-cococo">탈퇴</button>
			    	<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
	        	</div>
	        </div>
	   	</div>
	</div> <!-- Modal --> 
	
	<!-- 상태변경 모달 -->
	<div id="statusUpdateModal" class="modal fade">
		<div class="modal-dialog">
	    <!-- Modal content -->
	        <div class="modal-content">
	        	<div class="modal-header">
					<label class="modal-title">상태변경</label>
				</div>
				
	        	<div class="modal-body">
					<select class="form-control" name="status">
						<option>출근</option>
						<option>회의</option>
						<option>자리비움</option>
						<option>외근</option>
						<option>퇴근</option>
						<option>휴가</option>
					</select>
		        </div>
		        
				<div class="modal-footer">
			    	<button id = "statusUpdate" class="btn btn-cococo">수정</button>
			    	<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
	        	</div>
	        </div>
	   	</div>
	</div> <!-- Modal --> 

</div>
			
<div layout:fragment="inner_content">
	<div class="inner_content">
		<div id="info">
			<button class="btn btn-outline-cococo btn-sm copyBtn">초대코드</button>
			
			<div id="box">
				<img th:src="${team.teamImg}?:@{/images/teamImg.png}" th:alt="${team.teamImg}" class="rounded">
				<div id="ttt">
					<div id="name">[[${team.teamName}]]</div>
					<div id="tInfo">[[${team.teamInfo}]]</div>
				</div>
			</div>
		</div>
			
		<div id="main1">
			공지
		</div>
		
		<div id="main2">
			진행사항
		</div>
		
		<div id="main3">
			오늘의 업무
		</div>
	</div>	
</div>
</body>
</html>