<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 작성하기</title>
</head>
<body>
	<div id="wrap_notice">
		<div id="wrap_notice_insert">
			<form th:action="${insert}" method="post" enctype="multipart/form-data">
				<div class="checklist">
					<label>상단고정</label>
					<input type="checkbox" name="fixed_yn" value="y">
				</div>
				<div class="title">
					<label>제목</label>
					<input type="text" name="noticeTitle">
				</div>
				<div class="text">
					<input type="text" name="noticeText">
				</div>
				<div class="upload">
					<input type="file" multiple="multiple" name="noticeFiles">
				</div>
				<button type="submit">등록</button>
			</form>
			<a class="btnViewList"
					th:href="@{list}">목록</a>
		</div>		
	</div>
</body>
</html>