<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>메인 | 공지사항</title>
</head>
<body>
	<div>
		<div class="wrap_notice">
			<h2>공지사항</h2>
			<div class="wrap_noticelist">
				<table class="notice_table" th:with="noticelist=${noticelist}">
					<tbody>
						<tr th:each="notice:${noticelist}" th:if="${noticeStat.index}<5">
							<td class="fixed noticelink" th:if="${notice.fixedYN}==1"
								th:title="${notice.noticeText}"><img
									src="/images/pin-icon.png" width="10" height="10"> [[${notice.noticeTitle}]]</td>
							<td class="title" th:if="${notice.fixedYN}!=1"
								th:title="${notice.noticeText}">[[${notice.noticeTitle}]]</td>
							<td
								th:text="${#dates.format(notice.noticeRegDate, 'yy-MM-dd HH:mm')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<a th:href="@{/notice}">더보기</a>
		</div>

		<script>
	
		</script>
		
	</div>

</body>
</html>