<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 작성하기</title>
</head>
<style>
	.wrap_notice {
		width: 700px;
		margin: 0 auto;
		margin-top: 40px;
	}
	
	.wrap_notice .title input {
		width: 100%;
		box-sizing: border-box;
	}
	
	.wrap_notice textarea {
		width: 100%;
		height: 300px;
		margin-top: 15px;
	}
	
</style>
<body>
	<div class="wrap_notice">
		<div class="wrap_notice_update">
			<form th:action="${update}" method="post" enctype="multipart/form-data">
				<div class="checklist">
					<label>상단고정</label>
					<input th:checked="${notice.fixedYN} == 1" type="checkbox" name="fixedYN" value='1' id="input_check"/>
					<input type="hidden" name="fixedYN" value='0' id="input_check_hidden"/>
				</div>
				<div class="title">
					<label>제목</label>
						<input type="text" name="noticeTitle" th:value="${notice.noticeTitle}">
				</div>
				<div class="text">
					<textarea name="noticeText" th:text="${notice.noticeText}"></textarea>
				</div>
				<div class="upload">
					<input type="file" multiple="multiple" name="files">
				</div>
				<button type="submit">수정</button>
			</form>
			<a class="btnViewList"
					th:href="@{list}">목록</a>
		</div>		
	</div>
</body>
</html>