<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/css/ja0/header.css}" />
<link rel="stylesheet" th:href="@{/css/ja0/sideMenu.css}" />

<style>
.body {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.my_menu {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.my_menu a {
	color: black;
	font-size: 20px;
}

.my_menu div {
	padding-bottom: 13px;
}

.my_menu a:hover {
	color: black;
	text-decoration: none;
	font-size: 23px;
}
</style>

<th:block layout:fragment="style"></th:block>
</head>

<body>
<header th:replace="~{/layoutJY/header::header1}"></header>

<div id="cont">
	<div id="side">
		<div th:replace="~{/layoutJY/side :: side}"></div>
			
		<div class="my_menu">
			<div>
				<a th:href="@{/admin/team}" id="adminTeam">워크스페이스 관리</a>
			</div>
			<div>
				<a th:href="@{/admin/user}" id="adminUser">유저관리</a>
			</div>
		</div>
			
		<!-- 하위 HTML에서 content 재정의할 예정 -->
		<div layout:fragment="content"></div>
	</div>
</div>

<script>

</script>

<th:block layout:fragment="script"></th:block>
</body>
</html>