<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment = "side" class="side_list">
	<div id="teamList">
		<a th:href="@{/main/}+${tu.teamUserId.team.teamId}" th:each="tu:${teamList}">
			<img th:if="${tu.teamUserId.team.teamImg!=null}" th:src="${tu.teamUserId.team.teamImg}" 
				data-toggle="tooltip" data-placement="right" th:title="${tu.teamUserId.team.teamName}" class="img-rounded">
			<img th:if="${tu.teamUserId.team.teamImg==null}" th:src="@{/images/teamImg.png}" alt="null"
				data-toggle="tooltip" data-placement="right" th:title="${tu.teamUserId.team.teamName}" class="img-rounded">
		</a>
	</div>
	<div id="myMenu">
		<a href="/main/teamList">
			<img th:src="@{/images/home.svg}" alt="home">
		</a>
	</div>
	
	<script>
		$('[data-toggle="tooltip"]').tooltip();
	</script>
</div>

</html>