<div class="form-group">
	<label for="taskId" class="col-form-label">업무번호</label> 
	<input type="text" class="form-control detail_workId" id="calendar_workId" name="calendar_workId" readonly="readonly"> 
	<label for="taskId" class="col-form-label">업무명</label> 
	<input type="text" class="form-control detail_workTitle" id="calendar_workTitle" name="calendar_workTitle" readonly="readonly"> 
	<label for="taskId" class="col-form-label">업무내용</label> 
	<input type="text" class="form-control detail_workText" id="calendar_workText" name="calendar_workText" readonly="readonly"> 
	<label for="taskId" class="col-form-label">업무기간</label> 
	<input type="date" class="form-control detail_workDate" id="calendar_workDate" name="calendar_workDate" readonly="readonly">
	<label for="taskId" class="col-form-label">업무상태</label> 
	<input type="text" class="form-control detail_workStatus" id="calendar_workStatus" name="calendar_workStatus" readonly="readonly"> 
	<label for="taskId" class="col-form-label">담당자</label> 
	<input type="text" class="form-control detail_workMannager" id="calendar_workMannager" name="calendar_workMannager" readonly="readonly"> 
</div>

id: data.workId,
title : data.workTitle,
content : data.workText,
start : data.workStart,
end : data.workEnd,
status : data.workStatus,
manager : data.manager,
color : 'red'