@charset "UTF-8";

.nav_menu4{
	border-bottom: 3px solid tomato;
}

.managerselected {
	background-color: #E3E3E3;
}

#calendarBox {
	width: 80%;
	font-size: 16px;
	margin: auto;
	padding: 25px 0 0 0;
}

#calendar {
	
}

.fc-view-harness {
	background-color: white;
}

.fc-toolbar-title {
	width: 240px;
	float: left;
	text-align: center;
	font-size: 2em !important;
}

.fc-button {
	float: left;
}

.inner_content {
	width: 1418px;
}

.btn-cococo {
	color: #fff !important;
    background-color: #FF7F27 !important;
    border-color: #FF7F27 !important;
}

.btn-cococo:hover {
	color: #fff !important;
	background-color: #f26100 !important;
    border-color: #f26100 !important;
}
	
.btn-outline-cococo {
	color: #FF7F27 !important;
    background-color: #fff !important;
    border: 2px solid #FF7F27 !important;
}

.btn-outline-cococo:hover {
	color: #fff !important;
	background-color: #FF7F27 !important;
    border-color: #FF7F27 !important;
	
}

.btn-chevron{
	color: #2C3E50 !important;
	background-color: #fff !important;
    border: 2px solid #fff !important;
}
.fc-myWorkButton-button,.fc-totalButton-button{
	width: 90px;
}
/* 
.fc-myWorkButton-button, .fc-addEventButton-button{
    background-color: #FF7F27 !important;
    border-color: #FF7F27 !important;
}
.fc-totalButton-button{
	color: #FF7F27 !important;
    background-color: #fff !important;
    border: 2px solid #FF7F27 !important;
}
.btn-outline-cococo:hover {
    color: #fff !important;
    background-color: #FF7F27 !important;
    border-color: #FF7F27 !important;
}
.fc-icon-chevron-left, .fc-icon-chevron-right, .fc-today-button {
} 
.fc-prev-button, .fc-next-button */