@charset "UTF-8";

.managerselected {
	background-color: #E3E3E3;
}

#calendarBox {
	width: 80%;
	font-size: 16px;
	margin: auto;
	padding: 25px 0 0 0;
}

#calendar {
	
}

.fc-view-harness {
	background-color: white;
}

.fc-toolbar-title {
	float: left;
}

.fc-button {
	float: left;
}

.inner_content {
	width: 1418px;
}