<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="header1">
		<div id="top">
			<div class="team_logo">
				
			</div><!-- .team_logo -->
			<div class="nav">
				<div class="nav_menu1"><a href="/main"><span>메인</span></a></div>
				<div class="nav_menu2"><a href="/notice"><span>공지</span></a></div>
				<div class="nav_menu3"><a href="/boardSampleBeta"><span>게시판</span></a></div>
				<div class="nav_menu4"><a href="/work/work"><span>업무</span></a></div>
				<div class="nav_menu5">
					<a th:if="${session.teamUser.userRole == 'ADMIN'}" href="/admin/team"><span>관리자</span></a>
					<span th:if="${session.teamUser.userRole != 'ADMIN'}"></span>
				</div>
			</div><!-- .nav -->
			
			<div></div>
		</div><!-- #top -->
</div>

<div th:fragment="header2">
		<div id="top">
			<div class="team_logo">
			
			</div><!-- .team_logo -->
			
			<div>
				<img th:src="@{/images/logout.svg}" alt="logout" id="logout">
				<form id="logoutForm" method="post" th:action="@{/logout}"></form>
			</div>
			
			<div>
			
			</div>
		</div><!-- #top -->
		
		<script>
		$(function() {
			$("#logout").click(function() {
				$("#logoutForm").submit();
			});
		})
		</script>
</div>
</html>