<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<div th:fragment="header1">
	<form class="form-inline my-2 my-lg-0" method="post"
		th:action="@{/logout}">	
		<div id="top">
<!-- ############################################################# -->		
			<div class="team_logo">
			
			<!-- 로고 이미지 -->
			
			</div><!-- .team_logo -->
<!-- ############################################################# -->		
			
<!-- ##############################경로추가########################## -->
			<div class="nav">
				<div class="nav_manu1"><a href="#"><span>메인</span></a></div>
				<div class="nav_manu2"><a href="#"><span>공지</span></a></div>
				<div class="nav_manu3"><a href="#"><span>게시판</span></a></div>
				<div class="nav_manu4"><a href="#"><span>업무</span></a></div>
				<div class="nav_manu5"><a href="#"><span>관리자</span></a></div>
			</div><!-- .nav -->
<!-- ##############################경로추가########################## -->
		</div><!-- #top -->		
		<div id="cont">
			<div id="side">
				<div class="side_list">
					<div class="list_cont1">

					</div><!-- list_cont1 -->
					<div class="list_cont2">
<!-- ##############################접속상태########################## -->					
						<div class="status">
						
						</div><!-- status -->
<!-- ############################################################# -->									
						<div class="mode_change">
						</div><!-- mode_change -->
						
						<div class="home_go">
						</div><!-- home_go -->

						<button class="log_out">
						</button><!-- log_out -->
						
					</div><!-- list_cont2 -->
				</div><!-- side_list -->
				
				<div class="my_manu">
<!-- 				
					<div class="user_img">
					</div>user_img
##############################유저목록##########################
					<div class="user_list">
					
					</div>user_list
#############################################################
 -->
				</div><!-- my_manu -->
				
			</div><!-- #side -->
			
			<div class="body">
			</div><!-- body -->
			
			<div class="chat">
			</div><!-- chat -->
		</div><!-- #cont -->

	</form>
</div>
</html>