<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment = "side" class="side_list">
	<div id="teamList">
		<a th:href="@{/main/}+${tu.teamUserId.team.teamId}" th:each="tu:${session.teamList}">
			<img th:src="${tu.teamUserId.team.teamImg}?:@{/images/teamImg.png}" class="rounded"
				data-toggle="tooltip" data-placement="right" th:title="${tu.teamUserId.team.teamName}">
		</a>
	</div>
	<div id="myMenu">
		<img th:src="@{/images/home.svg}" alt="home" id="goHome">
		<img th:src="@{/images/logout.svg}" alt="logout" id="logout">
	</div>

	<form id="logoutForm" method="post" th:action="@{/logout}"></form>
	
	<script>
	$(function() {
		/* $('[data-toggle="tooltip"]').tooltip(); */
		
		$("#goHome").click(function() {
			location.href="/CoCoCo";
		});
		
		$("#logout").click(function() {
			$("#logoutForm").submit();
		});
	})
	</script>
</div>

</html>