@charset "UTF-8";

#teamInfo, #teamImg, div img {
	float: left;
}

#teamInfo label {
	font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.showImg {
	margin: 0px 30px;
	width: 270px;
}

#adminTeam {
	color: #FF7F27;
	font-weight: bold;
}

#box {
	border: 2px solid #FF7F27;
    border-radius: 1em;
    padding: 20px 50px;
    background-color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#info {
	white-space: pre-wrap;
}

#teamImg {
	position: relative;
}

#delImg {
	width: 30px;
	position: absolute;
    left: 80%;
}

#delImg:hover {
	cursor: pointer;
}