@charset "UTF-8";
/******************* side *******************/
#side{
	display: flex;
	margin-top: 64px;
}

.side_list {
	width: 80px;
	height: 95vh;
	background-color: #e7ebf2;
	padding: 5px;
	display: flex;
    justify-content: center;
}

.my_manu {
	width: 300px;
	height: 95vh;
	padding: 10px 10px;
	background-color: #fff;
} 
/******************* side *******************/

/******************* cont *******************/
#cont{
	display: flex;
}
	
.body{
	width: 1200px;
	height: 95vh;
	padding: 10px 51px;
	background-color: #e7ebf2;
}
/******************* cont *******************/

/******************* side_list *******************/
#myMenu{
    display: flex;
    position: absolute;
    flex-direction: column;
	bottom: 10%;
}

#teamList a img {
	margin: 10px;
	width: 40px;
	height: 40px;
}

#myMenu img {
	margin: 15px 17px;
	width: 30px;
	height: 30px;
}

#myMenu img:hover {
	cursor: pointer;	
}

#teamList{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 스크롤바 설정*/
#teamList::-webkit-scrollbar{
    width: 5px;
}

/* 스크롤바 막대 설정*/
#teamList::-webkit-scrollbar-thumb{
    height: 10%;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;/* 스크롤바 둥글게 설정    */
}

/* 스크롤바 hover*/
#teamList:hover::-webkit-scrollbar-thumb{
    background-color: #858585;
}

/* 스크롤바 뒷 배경 설정*/
#teamList::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}
/******************* side_list *******************/