@charset "UTF-8";
/******************* side *******************/
#side{
	display: flex;
	margin-top: 64px;
}

.side_list {
	width: 80px;
	height: 95vh;
	background-color: #e7ebf2;
	padding: 5px;
	display: flex;
    justify-content: center;
}

.my_manu {
	width: 300px;
	height: 95vh;
	padding: 10px 10px;
	background-color: #fff;
} 

.list_cont1{
	display:flex;
	width: 80px;
	height: 20%;
	background-color: red;
}

.list_cont2{
	display:flex;
	width: 80px;
	height: 20%;
	background-color: red;
}

/* #side{
	position:fixed;
	display: flex;
	top:64px;
	height: 91vh;
}

.side_list {
	display: flex;
    justify-content: center;
	width: 80px;
	height: 100%;
	background-color: #e7ebf2;
	padding: 5px 10px;
	
}

.list_cont1{
	display:flex;
	width: 80px;
	height: 20%;
	background-color: red;
}

.list_cont2{
	display:flex;
	width: 80px;
	height: 20%;
	background-color: red;
}

.my_manu {
	width: 287px;
	height: 977px;
	background-color: #fff;
	padding: 10px 10px;
}
*/
/******************* side *******************/

/******************* cont *******************/
#cont{
	display: flex;
	}
	
.body{
	width: 1200px;
	height: 95vh;
	padding: 10px 51px;
	background-color: #e7ebf2;
}
/* 
#cont{
	display: flex;
	}
	
.body{
	position:fixed;
	top: 64px;
    left: 367px;
	width: 850px;
	height: 913px;
	padding-left: 51px;
	padding-right: 51px;
	background-color: #e7ebf2;
	padding: 10px 51px;
}
*/
/******************* cont *******************/

/******************* side_list *******************/
#myMenu{
	bottom: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#teamList a img {
	margin: 10px;
	width: 40px;
	height: 40px;
}

#myMenu img {
	margin: 15px 17px;
	width: 30px;
	height: 30px;
}

#myMenu img:hover {
	cursor: pointer;	
}

#teamList{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 스크롤바 설정*/
#teamList::-webkit-scrollbar{
    width: 5px;
}

/* 스크롤바 막대 설정*/
#teamList::-webkit-scrollbar-thumb{
    height: 10%;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;/* 스크롤바 둥글게 설정    */
}

/* 스크롤바 hover*/
#teamList:hover::-webkit-scrollbar-thumb{
    background-color: #858585;
}

/* 스크롤바 뒷 배경 설정*/
#teamList::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}
/******************* side_list *******************/