@charset "UTF-8";

#cont{
	display: block;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 1450px;
    justify-content: center;
}

.box, .addTeam {
	position: relative;
	width: 250px;
	height: 320px;
	text-align: center;
	padding: 30px 20px;
	margin: 13px;
	background-color: #eee;
	border-radius: 1em;
	cursor: pointer;
}

.box:hover, .addTeam:hover {
	background-color: rgba(255, 127, 39, 0.2);
	border: none;
}

.info {
	white-space: pre-wrap;
}

.name {
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}

.addTeam {
	font-size: 35px;
	background-color: white;
	border: 2px solid #FF7F27;
	border-radius: 0.5em;
	padding: 130px 10px;
}


#addTeamForm label {
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.box img{
	width: 150px;
	height: 150px;
}

.box .delMenu {
	position: absolute;
    top: 5%;
    right: 2%;
    width: 20px;
    height: 20px;
}

.delBtn {
	display: none;
    position: absolute;
    top: 45px;
    right: -55px;
    z-index: 1;
}

.showImg {
	width: 200px;
	height: 200px;
}

#addTeamModal .modal-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#mainTitle {
	padding: 5px 50px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.pagingBtn img {
	width: 30px;
}

.pagingBtn img:hover {
	cursor: pointer;
}

#pagingBody {
	display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    max-width: 700px;
}

input[type=file] {
    padding: 3px;
}