<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<meta charset="EUC-KR">
<title>board main page</title>
</head>
<body>
	<h1>board main page</h1>
	<hr>

	<div id="boardMain1">
		<form method="post" action="/boardInsertSample">
			<input type="submit" value="insert board">
		</form>
	</div>

	<div id="boardMain2">
		<table>
			<tr>
				<th>title</th>
				<th>userID</th>
				<th>categoryID</th>
				<th>regDate</th>
				<th>updateDate</th>
			</tr>
			<tr>
				<td>sample</td>
				<td>sample</td>
				<td>sample</td>
				<td>sample</td>
				<td>sample</td>
			</tr>
		</table>
	</div>
</body>
</html>