<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<style>
#boardDetail{
margin: 0 auto;
width: 70%;
}

</style>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>board UD beta page</title>
<script type="text/javascript">
	window.onload = function() {
		document.getElementById("boardDeleteBtn").addEventListener('click',
				hello);
	}

	function hello() {
		var boardID = document.getElementById("bid").value;
		window.location.href = "/boardDeleteBeta?bid=" + boardID;
	}
</script>

<script th:inline="javascript" th:src="@{'js/RESTreply.js'}"></script>
<script th:inline="javascript">
$(document).ready(function() {
	var boardID = "[[${boardDetail.boardId}]]"; 	
	replyREST.getAllReply(boardID,printList);
});
function printList(list) {
	var str = "";
	var replyObj;

	for (var i = 0; i < list.length; i++) {
		replyObj = list[i];

		str += "<tr>" +"<td>"+ replyObj.replyId + "</td>" + "<td>" + replyObj.replyText + "</td>" 
			+ "<td>" + replyObj.board.boardId + "</td>"+"<td>"+replyObj.user.userId+"</td>"
			+ "<td>" + formatDate(replyObj.replyRegDate) + "</td>"
			+"<td>"+formatDate(replyObj.replyUpdate) + "</td>" + "</tr>";
	}
	$("#replyTable").html(str);
}
function formatDate(timeValue) {
	var date = new Date(timeValue);
	return date.getFullYear() + "-" + (date.getMonth() + 1) + "-"
			+ date.getDate();
}
</script>
</head>
<body>
<div id="boardDetail">

		<div id="boardUpdate">
			<form method="post" action="/postBoardUpdateBeta" class="form-group">
				<input id="bid" name="boardID" type="hidden" th:value="${boardDetail.boardId}">
				
				<div class="form-group">
				<label>title</label>
				<input name="boardTitle" type="text" th:value="${boardDetail.boardTitle}" class="form-control">
				</div>
				
				<div class="form-group">
				<label>content</label>
				<textarea name="boardText" th:text="${boardDetail.boardText}" class="form-control" rows="5"></textarea> 
				</div>
				
				<input type="button" value="첨부파일" class="btn btn-primary">
				<hr>
				
				<div class="form-group">
				<input type="button" id="boardDeleteBtn" class="btn btn-primary" value="삭제">
				</div>
				<div class="form-group">
				<input type="submit" value="update" class="btn btn-primary"> 
				<input type="reset" value="reset" class="btn btn-primary">
				</div>
			</form>
			<hr>
		</div>

		<br>
	<br>
	<br>
	<br>
	<form method="post" action="/postReplyInsertBeta">
		<input name="replyBid" type="hidden" th:value="${boardDetail.boardId}">
		text: <textarea name="replyText"></textarea>
		<input type="submit" value="reply insert">
	</form>

	<hr>
	<table>
		<thead>
		<tr>
			<th>replyID</th>
			<th>text</th>
			<th>boardID</th>
			<th>userID</th>
			<th>regDate</th>
			<th>update</th>
		</tr>
		</thead>
		<tbody id="replyTable"></tbody>	</table>
</div>
	
</body>
</html>